[mysqld]
max_allowed_packet=512M
innodb_buffer_pool_size=512M
innodb_log_file_size=512M
innodb_log_buffer_size=512M
query_cache_limit=512M
query_cache_size=512M
key_buffer_size=256M
connect_timeout=120
net_read_timeout=180
net_write_timeout=180
log-error=/var/log/mysql/error.log
innodb_force_recovery=0
lower_case_table_names=1
innodb_strict_mode=0
innodb_purge_threads=1
sql_mode="NO_ENGINE_SUBSTITUTION"
log_bin_trust_function_creators=1
optimizer_switch="derived_merge=off"
general_log=on
general_log_file=/var/log/mysql/mysql_general.log

